env:
  browser: true
  commonjs: true
  es6: true
extends: 'eslint:recommended'
sparserOptions:
  ecmaFeatures:
    arrowFunctions: true
    binaryLiterals: true
    blockBindings: true
    classes: true
    defaultParams: true
    destructuring: true
    ecmaVersion: 6
    forOf: true
    generators: true
    globalReturn: true
    jsx: true
    modules: true
    objectLiteralComputedProperties: true
    objectLiteralDuplicateProperties: true
    objectLiteralShorthandMethods: true
    objectLiteralShorthandProperties: true
    octalLiterals: true
    regexUFlag: true
    regexYFlag: true
    spread: true
    superInFunctions: true
    templateStrings: true
    unicodeCodePointEscapes: true
  sourceType: module
rules:
  no-irregular-whitespace: 2
  indent:
    - error
    - 2
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - single
  semi:
    - error
    - always
