
# version control files
.git
.svn

# system files
desktop.ini
.DS_Store
Thumbs.db

# build files
img/*
fonts/*
images/*

# static files
*.min*
*.tags
*.bak*
*.jpeg
*.jpg
*.pdf
*.png


# logs
*.log

# temp files
archive
archives
backup
backup
bak
dev

# dependencies
bower_components
node_modules
vendor
.node-gyp
.npm

# atom
.apm
blob-store
compile-cache
storage

# wordpress
wp-admin
wp-include

# common libraries
Zend/*
zend
bootstrap
