#php_value has been depracated on utah running suPHP
#php_value magic_quotes_gpc off


Options -Indexes
AddType "application/x-woff" .woff
AddEncoding gzip .gz

#Consider unsetting ETag and use mod_expires below
#Header unset Pragma
#FileETag None
#Header unset ETag

<FilesMatch "\.css\.gz$">
		AddType "text/css" .gz
</FilesMatch>
<FilesMatch "\.js\.gz$">
		AddType "text/javascript" .gz
</FilesMatch>
<IfModule mod_deflate.c>
		AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript
</IfModule>
<IfModule mod_expires.c>
	#ExpiresActive On
	#ExpiresByType image/jpg "access 1 year"
	#ExpiresByType image/jpeg "access 1 year"
	#ExpiresByType image/gif "access 1 year"
	#ExpiresByType image/png "access 1 year"
	#ExpiresByType text/css "access 1 month"
	#ExpiresByType text/html "access 1 month"
	#ExpiresByType application/pdf "access 1 month"
	#ExpiresByType text/x-javascript "access 1 month"
	#ExpiresByType application/x-shockwave-flash "access 1 month"
	#ExpiresByType image/x-icon "access 1 year"
	#ExpiresDefault "access 1 month"
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{REQUEST_FILENAME}.gz -s
	RewriteCond %{REQUEST_URI} ^(.*)\.(css|js)$
	RewriteRule ^(.*)$ $1.gz [QSA,L]

	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L]

	RewriteRule ^.*$ /index.php [NC,L]
</IfModule>
