packages: [
  "00-dark-minimal-syntax"
  "00-dark-minimal-ui"
  "align-regexp"
  "atom-beautify"
  "busy-signal"
  "color-picker"
  "css-comb"
  "docblockr"
  "editorconfig"
  "highlight-bad-chars"
  "highlight-selected"
  "language-ini"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-htmlhint"
  "linter-markdown"
  "linter-php"
  "linter-sass-lint"
  "linter-scss-lint"
  "linter-stylelint"
  "linter-ui-default"
  "minimap"
  "minimap-bookmarks"
  "minimap-cursorline"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "package-sync"
  "pretty-json"
  "project-manager"
  "project-sidebar"
  "promote-folder-to-project"
  "set-syntax"
  "sort-lines"
  "split-diff"
  "sync-settings"
  "text-manipulation"
  "todo-show"
  "tree-view-auto-fold"
  "tree-view-autoresize"
  "tree-view-filter"
  "tree-view-git-status"
  "zentabs"
]
