[
  {
    title: "Chrome Dark Mode"
    group: "chrome_extensions"
    paths: [
      "/data/projects/Chrome_Extensions/chrome-dark-mode"
    ]
  }
  {
    title: "Chrome Extensions"
    group: "chrome"
    paths: [
      "/data/projects/Chrome_Extensions"
    ]
  }
  {
    title: "00 Developer Notes"
    group: "devops"
    paths: [
      "~/00_Notes"
    ]
  }
  {
    title: "Developer Scripts Root Folder"
    group: "javascript"
    paths: [
      "/data/scripts"
    ]
  }
  {
    title: "Web Components Library"
    group: "styles"
    paths: [
      "/data/dev_ops/web_components"
      "/data/dev_ops/web_components_archives"
    ]
  }
  {
    title: "00 Dotfiles"
    group: "devops"
    paths: [
      "~/00_dotfiles"
      "~"
    ]
  }
]
