# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
# OVERRIDE GIT PLUS
'.platform-darwin':
  'cmd-shift-h': 'unset!'
  'cmd-shift-c': 'unset!'
  'cmd-shift-a s': 'unset!'
  'cmd-shift-a q': 'unset!'
  'cmd-shift-a a': 'unset!'
  'cmd-shift-a p': 'unset!'
#
'.platform-win32, .platform-linux':
  'ctrl-shift-h': 'unset!'
  'ctrl-shift-x': 'unset!'
  'ctrl-shift-a s': 'unset!'
  'ctrl-shift-a q': 'unset!'
  'ctrl-shift-a a': 'unset!'
  'ctrl-shift-a p': 'unset!'
#
'.platform-darwin atom-text-editor':
  'cmd-shift-a': 'unset!'
  'cmd-shift-a c': 'unset!'
#
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-shift-a': 'unset!'
  'ctrl-shift-a c': 'unset!'
##
'body':
  'ctrl-shift-A': 'unset!'
#
'atom-workspace':
  'ctrl-alt-v': 'delete-lines:toggle'
  'ctrl-alt-a': 'align-regexp:align-selection'
  'cmd-shift-c': 'css-comb:run'
#
'atom-text-editor':
  'ctrl-shift-A': 'unset!'
  'ctrl-shift-A a': 'unset!'
  'ctrl-shift-A c': 'unset!'
  'ctrl-shift-A p': 'unset!'
  'ctrl-shift-A q': 'unset!'
  'ctrl-shift-A s': 'unset!'
  'ctrl-shift-B': 'unset!'
  'ctrl-shift-x': 'unset!'
  'ctrl-shift->': 'format:indent-all'
  'ctrl-shift-<': 'format:trim-left'
  'ctrl-shift-M': 'format:reformat'
  'ctrl-shift-S': 'format:tabs-to-spaces'
#'ctrl-shift-x': 'format:collapse-lines'
#'cmd-shift-x': 'autoprefixer'
#'alt-ctrl-c': color-picker
#'format:squeeze-lines'
#'format:collapse-all'
