
function backup_here() {
  TITLE=$1
  tar czf $TITLE_$(date +'%Y%m%d').tar.gz *
}

FUNCTION_PATH=$HOME/lib/bash/functions


# PROCESSES
function psgrep () {
  ps -ef | {
     read -r;
     echo "$REPLY";
     grep --color=auto "$@"
  }
}


###############    HELPERS -- FUNCTION ALIASES ###################
# SHOW FOLDER CONTENTS WHEN CHANGING DIRECTORY
function cd () {
  builtin cd $1
  ls -l --color --human-readable --time-style="+%m %d %H:%M" --no-group --sort=time  --reverse --group-directories-first --ignore-backups

 # ls -dC */
}


# GO BACK TO THE LAST DIRECTORY
function  back () {
  last_dir="$(ls -Frt | grep '/$' | tail -n1)"
  if [ -d "$last_dir" ]; then
     cd "$last_dir"
  fi
}


# Where/What is this binary? Shows extended ls output
function what () {
    which $1 | xargs ls -la
}


################   APPLICATIONS   ###################
# Google X
# function @google {
#     open "https://google.com/search?q=$*"
# }


# Open files in Chrome browser
# function chrome() {
#     open -a "Google Chrome" "$1"
# }



# REMIND TIMER
 # usage: remindme <time> <text>
function remindme () {
  sleep $1 && zenity --info --text "$2" &
}



# TOP 20 FOLDERS FROM PATH  BY TOTAL SIZE
function biggest () {
  du --block-size=M ${1} | sort -n -r | head -n 20 \;
}

# SEARCH APT-CACHE WITH HIGHLIGHTING
function apt_search () {
  SEEK=$1
  apt-cache search $SEEK | sort | grep --color=always $SEEK
}
# alias apt_search='apt-cache search' 
alias search='apt_search'


. $FUNCTION_PATH/archive_tools.sh

. $FUNCTION_PATH/fix_js_formatting.sh

. $FUNCTION_PATH/colors.sh

. $FUNCTION_PATH/finders.sh


unset FUNCTION_PATH

